<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Home Page</title></head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books yet!</h2>
        <div th:case="*">
            <h2>Books</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                      
                    </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                	<td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/add">Add a new Book</a></p>
</div>
</body>
</html>